AVI_MARKET_ANALYSIS AVI "Resources\\Videos\\ApplyProperties.avi"

BMP_ENU_ABOUT_CLICKFORMS BITMAP "Resources\\Bitmaps\\ENU\\AboutClickFORMS.bmp"
BMP_ENC_ABOUT_CENTRACT BITMAP "Resources\\Bitmaps\\ENC\\AboutCentract.bmp"

FILE_ENU_HELP_GSEBASEMENT RCDATA "Resources\\Files\\ENU\\Help_GSEBasement.rtf"
FILE_ENU_HELP_GSECOMMPCTDESC RCDATA "Resources\\Files\\ENU\\Help_GSECommPctDesc.rtf"
FILE_ENU_HELP_GSECONSTQUALITY RCDATA "Resources\\Files\\ENU\\Help_GSEConstQuality.rtf"
FILE_ENU_HELP_GSECONTRACTANALYZE RCDATA "Resources\\Files\\ENU\\Help_GSEContractAnalyze.rtf"
FILE_ENU_HELP_GSECONTRACTFINASSIST RCDATA "Resources\\Files\\ENU\\Help_GSEContractFinAssist.rtf"
FILE_ENU_HELP_GSEDATEOFSALE RCDATA "Resources\\Files\\ENU\\Help_GSEDateOfSale.rtf"
FILE_ENU_HELP_GSEFINCONCESSION RCDATA "Resources\\Files\\ENU\\Help_GSEFinConcession.rtf"
FILE_ENU_HELP_GSEGRIDDATASRC RCDATA "Resources\\Files\\ENU\\Help_GSEGridDataSrc.rtf"
FILE_ENU_HELP_GSEGRIDLOCRATING RCDATA "Resources\\Files\\ENU\\Help_GSEGridLocRating.rtf"
FILE_ENU_HELP_GSEGRIDROOMS RCDATA "Resources\\Files\\ENU\\Help_GSEGridRooms.rtf"
FILE_ENU_HELP_GSEMULTICHKBOX0 RCDATA "Resources\\Files\\ENU\\Help_GSEMultiChkBox0.rtf"
FILE_ENU_HELP_GSEMULTICHKBOX1 RCDATA "Resources\\Files\\ENU\\Help_GSEMultiChkBox1.rtf"
FILE_ENU_HELP_GSEMULTICHKBOX2 RCDATA "Resources\\Files\\ENU\\Help_GSEMultiChkBox2.rtf"
FILE_ENU_HELP_GSEPROJYRBUILT RCDATA "Resources\\Files\\ENU\\Help_GSEProjYrBuilt.rtf"
FILE_ENU_HELP_GSEPROPERTYADDRESS RCDATA "Resources\\Files\\ENU\\Help_GSEPropertyAddress.rtf"
FILE_ENU_HELP_GSESALECONCESSION RCDATA "Resources\\Files\\ENU\\Help_GSESaleConcession.rtf"
FILE_ENU_HELP_GSESALEFINCONCESSION RCDATA "Resources\\Files\\ENU\\Help_GSESaleFinConcession.rtf"
FILE_ENU_HELP_GSESITEVIEW RCDATA "Resources\\Files\\ENU\\Help_GSESiteView.rtf"
FILE_ENU_HELP_GSESUBJCONDITION RCDATA "Resources\\Files\\ENU\\Help_GSESubjCondition.rtf"
FILE_ENU_HELP_GSESUBJDATASRC RCDATA "Resources\\Files\\ENU\\Help_GSESubjDataSrc.rtf"
