<configuration>
	<configSections>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Service.Mapping.Bradford.ClickFORMS" publicKeyToken="6b56a14211587e08" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RelsWseClient" publicKeyToken="26b844e5-47e8-4592-852b-35401564f300" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<microsoft.web.services3>
		<security>
			<defaultTtlInSeconds value="60000"/>
			<timeToleranceInSeconds value="60000"/>
		</security>
	</microsoft.web.services3>
	<system.net>
		<settings>
			<servicePointManager expect100Continue="false"/>
		</settings>
	</system.net>
</configuration>
